* {
  margin: 0;
  padding: 0;
}

body {
    background-color: black;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.main_sec {
  display: flex;
  height: 100%;
  height: 100%;
  flex-direction: column;
}

.heading {
  /* top: 20; */
  position: fixed;
  color: orange;
  z-index: 10;
  padding-left: 10px;
  padding-top: 10px;
}
.sidebar_and_content {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  width: 100%;
  height: 100vh;
}

.sidebar {
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.inputDiv {
  display: flex;
  padding: 40px;
  border-radius: 10px;
  flex-direction: column;
  justify-content: space-between;
  background-color: orange;
  width: 20%;
  position: fixed;
}

.inputDiv div {
  display: flex;
  flex-direction: column;
  padding-top: 10px;
  padding-bottom: 10px;
}

.input {
  margin-bottom: 5px;
  box-sizing: border-box;
  padding: 5px;
  border-radius: 5px;
  border: 2px solid black;
}

.generate {
  width: 30%;
  cursor: pointer;
  padding-top: 5px;
  padding-bottom: 5px;
  border: 1px solid black;
  border-radius: 5px;
}

.building {
  display: flex;
  width: 60%;
  height: fit-content;
  margin: 30px auto;
  flex-wrap: wrap;
}

.floor {
  width: 100%;
  height: 160px;
  margin: 10px auto;
  display: flex;
  align-items: center;
  background: orange;
  border: 2px solid black;
  border-radius: 5px;
  position: relative;
}

.floorName {
  left: 44%;
  position: absolute;
  bottom: 0px;
}

.link {
  position: absolute;
}

.buttonsDiv {
  display: flex;
  flex-direction: column;
  width: 7%;
}

.btn {
  cursor: pointer;
  height: 25px;
  border-radius: 3px;
}



.lift_Container{
    width:100%;
    display: flex;
    height: 100%;
    align-items: center;
    margin-left: 10px;
}

.lift {
    border: 2px solid black;
    display: flex;
    justify-content: space-between;
    height: 82px;
    width: 66px;
    margin: 0px 10px;
    background-color: white;
    transition-timing-function: linear;
}

.liftLeftDoor,
.liftRightDoor {
  height: 100%;
  width: 50%;
  background: grey;
  z-index: 30;
}

.liftRightDoor {
  border-left: 2px solid black;
}

.liftLeftDoor {
  border-right: 2px solid black;
}

/*----------------------------------------- Media Query -----------------------------------------  */

@media (max-width: 1400px) {
  .inputDiv {
    display: flex;
    width: 47%;
    margin-top: 60px;
    position: inherit;
  }
  .generate {
    width: 100%;
    font-size: 10px;
  }

  .sidebar {
    align-items: center;
  }
}

@media (max-width: 1150px) {
  .room {
    height: 87px;
    width: 87px;
  }
  .sidebar {
    align-items: center;
  }

  .inputDiv {
    position: inherit;
  }
}

@media (max-width: 1000px) {
  .lift {
    height: 62px;
    width: 41px;
    left: 17%;
  }

  .sidebar {
    align-items: center;
  }

  .inputDiv {
    position: inherit;
  }
}

@media (max-width: 860px) {
  .lift {
    left: 15%;
  }

  .sidebar {
    align-items: center;
  }

  .inputDiv {
    position: inherit;
  }
}

@media (max-width: 800px) {
  .btn {
    width: 38px;
  }

  .lift {
    left: 16%;
  }

  .sidebar {
    align-items: center;
  }

  .inputDiv {
    position: inherit;
  }
}

@media (max-width: 755px) {
  .sidebar {
    align-items: center;
  }

  .inputDiv {
    position: inherit;
  }
}

@media (max-width: 705px) {
  .lift {
    height: 44px;
    width: 36px;
    left: 16%;
  }

  .sidebar {
    align-items: center;
  }

  .inputDiv {
    position: inherit;
  }
}

@media (max-width: 677px) {
  .lift {
    left: 17.5%;
  }

  .btn {
    font-size: 10px;
  }

  .sidebar {
    align-items: center;
  }

  .inputDiv {
    position: inherit;
    align-items: center;
  }
}

@media (max-width: 550px) {
  .lift {
    height: 38px;
    width: 25px;
    left: 16%;
  }

  .btn {
    font-size: 7px;
    font-weight: 700;
    width: 25px;
  }

  .inputDiv {
    left: 34%;
    position: inherit;
  }
  .sidebar_and_content {
    flex-direction: column;
  }

  .sidebar {
    width: 100%;
    align-items: center;
    height: 100%;
  }
}

@media (max-width: 370px) {
  .lift {
    height: 36px;
    width: 14px;
    left: 16%;
  }

  .btn {
    width: 21px;
  }

  .inputDiv {
    width: 40%;
    left: 22%;
    position: inherit;
  }

  .heading {
    font-size: 11px;
    font-weight: 700;
  }
}
